@import "tailwindcss";

@theme {
  /* Dark Theme / Default */
  --color-background: #1a1c23;
  --color-foreground: #f1f1f4;
  --color-card: #252833;
  --color-muted: #373b49;
  --color-muted-foreground: #9da3b4;
  --color-border: #3d4151;
  --color-primary: #00d5ff;
  --color-success: #4ade80;
  --color-warn: #eab308;
  --color-error: #f87171;
  --color-critical: #ef4444;
}

:root.light {
  /* Light Theme Override */
  --color-background: #ffffff;
  --color-foreground: #1c1e26;
  --color-card: #f5f6f8;
  --color-muted: #e8e9ee;
  --color-muted-foreground: #6b7280;
  --color-border: #dcdee3;
}

html,
body,
#app {
  height: 100%;
}
body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-foreground);
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    sans-serif;
}
